<h1>Showing selected Movie</h1>
	<p>
		Title: <%= @movie.title %>
	</p>

	<p>
		Description: <%= @movie.description %>
	</p>

	<p>
		Rating: <%= @movie.rating %>
	</p>

	<%= link_to "Edit this movie review", edit_movie_path(@movie) %> |
 	<%= link_to "Back to movies listing", movies_path %>